@model IEnumerable<practicacinco.cero.eventos>

@{
    ViewBag.Title = "Index";
}

<h2>Eventos</h2>

<p>
    @Html.ActionLink("Crear nuevo evento", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Buscar por evento: @Html.TextBox("evento")
        O Buscar por fecha: @Html.TextBox("fecha")
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.eventoId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.eventoId }) |
                @Html.ActionLink("borrar", "Delete", new { id = item.eventoId })
            </td>
        </tr>
    }

</table>
