@model practicacinco.cero.integrantesG

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>integrantesG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asignaturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asignaturas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.integrantesId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
